@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    #00132e,
    #002651,
    #004073,
    #005295,
    #0064b7,
    #0076d9,
    #0088fb,
    #0099ff,
    #0088fb, 
    #0076d9, 
    #0064b7, 
    #005295,
    #004073,
    #002651,
    #00132e
  );
}
